/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Agregar estilo personalizado para la pantalla de carga */
.ion-text-center img {
  max-width: 200px;
  margin-top: 50%;
}

.ion-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-text-center .spinner {
  margin-top: 50px;
}
